<nav class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <NavLink class="nav-link" href="anime">
        Anime
    </NavLink>

    <NavLink class="nav-link" href="movies">
        Movies
    </NavLink>

</nav>