<div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="anime">
        Anime
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="movies">
        Movies
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="recommendations">
        Recommendations
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="dashboard">
        Dashboard
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="login">
        Login
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="register">
        Register
    </NavLink>
</div>

<form method="post" action="/auth/logout">
    <button type="submit" class="filter-button">
        Logout
    </button>
</form>